body {
    background-color: #303030;
    color: white;
}

/*
Even when I update stuff here, it doesn't reflect on the html
Even when I copy the background from light.css
It works on my personal html. Not on the site though
*/

.headerPadding {
    margin-top: 32px; 
    color: maroon;
}

.quoteSetting{
    font-size: 12pt;
    color: gold;
}

.rowBorder{
    border: 1px black;
}

a:link {
    color: pink;
}
a:visited {
    color: magenta;
}
a:hover {
    color: hotpink;
}
a:active {
    color: lightskyblue;
}

